@model SkillViewModel
@{ ViewData["Title"] = "Agility"; }

@Html.HiddenFor(m => m.ModifierBonus)
@Html.HiddenFor(m => m.Skill.Xp, new { id = "skillXp" })
<input id="xpDifference" type="hidden" value="0" />

<div class="container">
    <div class="row">
        <img class="skill-icon mr-2" src="@Model.Skill.ImageUrl" alt="@Model.Skill.Name Icon " />
        <h1>@Model.Skill.Name</h1>
    </div>
    <form asp-action="Smithing">
        <div class="row">
            <div class="col-4">
                <h2>Upgrades</h2>
                    <input id="Modifier" type="hidden" asp-for="ModifierBonus" />
                    <p class="mt-4" id="modifierDisplay">@Model.ModifierBonus% Skill XP Modifier</p>
            </div>
            <div class="col-4">
                <h2>Level</h2>
                <label for="level">Level</label>
                @Html.HiddenFor(i => i.Skill.Name)
                @Html.HiddenFor(i => i.Skill.ImageUrl)
                <input id="level" asp-for="Skill.Level" type="number" class="form-control" onchange="updateXp(this)" />
                <label for="xp">Xp</label>
                <input id="xp" asp-for="Skill.Xp" type="number" class="form-control" min="0" onchange="updateLevel(this)" />
            </div>
            <div class="col-4">
                <h2>Target</h2>
                <label for="targetLevel">Level</label>
                <input id="targetLevel" asp-for="Skill.TargetLevel" type="number" class="form-control" onchange="calculateXp(this)" />
                <label for="targetXp">Xp</label>
                <input id="targetXp" asp-for="Skill.TargetXp" type="number" class="form-control" min="0" onchange="calculateDifference(this)" />
                <button id="SmithingSubmit" type="submit" class="btn btn-primary float-right mt-2">Update</button>
            </div>
        </div>
    </form>
    <div class="row text-center justify-content-center">
        <h2>Coming Soon</h2>
    </div>
</div>
