@model GlobalViewModel
@{      ViewData["Title"] = "Home";     }

<h1>Choose a Skill Calculator</h1>
    
<div class="row">
    <div class="col-6 col-md-2">
        <div class="skill-container">
            <a href="@Url.Action("Woodcutting", "Skills", Model)">
                <h2 style="font-size:21px"class="text-center">Woodcutting</h2>
                <img class="skill-image" src="~/Images/Skills/Woodcutting.svg" alt="Woodcutting" />
                <h3>Coming Soon</h3>
            </a>
        </div>
    </div>
    <div class="col-6 col-md-2">
        <div class="skill-container">
            <a href="@Url.Action("Fishing", "Skills", Model)">
                <h2 style="font-size:21px" class="text-center">Fishing</h2>
                <img class="skill-image" src="~/Images/Skills/Fishing.svg" alt="Fishing" />
                <h3>Coming Soon</h3>
            </a>
        </div>
    </div>
    <div class="col-6 col-md-2">
        <div class="skill-container">
            <a href="@Url.Action("Firemaking", "Skills", Model)">
                <h2 style="font-size:21px" class="text-center">Firemaking</h2>
                <img class="skill-image" src="~/Images/Skills/Firemaking.svg" alt="Firemaking" />
                <h3>Coming Soon</h3>
            </a>
        </div>
    </div>
    <div class="col-6 col-md-2">
        <div class="skill-container">
            <a href="@Url.Action("Smithing", "Skills", Model)">
                <h2 style="font-size:21px"class="text-center">Smithing</h2>
                <img class="skill-image" src="~/Images/Skills/Smithing.svg" alt="Smithing" />
            </a>
        </div>
    </div>
    <div class="col-6 col-md-2">
        <div class="skill-container">
            <a href="@Url.Action("Cooking", "Skills", Model)">
                <h2 style="font-size:21px" class="text-center">Cooking</h2>
                <img class="skill-image" src="~/Images/Skills/Cooking.svg" alt="Cooking" />
                <h3>Coming Soon</h3>
            </a>
        </div>
    </div>
    <div class="col-6 col-md-2">
        <div class="skill-container">
            <a href="@Url.Action("Mining", "Skills", Model)">
                <h2 style="font-size:21px" class="text-center">Mining</h2>
                <img class="skill-image" src="~/Images/Skills/Mining.svg" alt="Mining" />
                <h3>Coming Soon</h3>
            </a>
        </div>
    </div>
    <div class="col-6 col-md-2">
        <div class="skill-container">
            <a href="@Url.Action("Thieving", "Skills", Model)">
                <h2 style="font-size:21px" class="text-center">Thieving</h2>
                <img class="skill-image" src="~/Images/Skills/Thieving.svg" alt="Thieving" />
                <h3>Coming Soon</h3>
            </a>
        </div>
    </div>
    <div class="col-6 col-md-2">
        <div class="skill-container">
            <a href="@Url.Action("Farming", "Skills", Model)">
                <h2 style="font-size:21px" class="text-center">Farming</h2>
                <img class="skill-image" src="~/Images/Skills/Farming.svg" alt="Farming" />
                <h3>Coming Soon</h3>
            </a>
        </div>
    </div>
    <div class="col-6 col-md-2">
        <div class="skill-container">
            <a href="@Url.Action("Fletching", "Skills", Model)">
                <h2 style="font-size:21px" class="text-center">Fletching</h2>
                <img class="skill-image" src="~/Images/Skills/Fletching.svg" alt="Fletching" />
                <h3>Coming Soon</h3>
            </a>
        </div>
    </div>
    <div class="col-6 col-md-2">
        <div class="skill-container">
            <a href="@Url.Action("Crafting", "Skills", Model)">
                <h2 style="font-size:21px" class="text-center">Crafting</h2>
                <img class="skill-image" src="~/Images/Skills/Crafting.svg" alt="Crafting" />
                <h3>Coming Soon</h3>
            </a>
        </div>
    </div>
    <div class="col-6 col-md-2">
        <div class="skill-container">
            <a href="@Url.Action("Runecrafting", "Skills", Model)">
                <h2 style="font-size:21px" class="text-center">Runecrafting</h2>
                <img class="skill-image" src="~/Images/Skills/Runecrafting.svg" alt="Runecrafting" />
                <h3>Coming Soon</h3>
            </a>
        </div>
    </div>
    <div class="col-6 col-md-2">
        <div class="skill-container">
            <a href="@Url.Action("Herblore", "Skills", Model)">
                <h2 style="font-size:21px" class="text-center">Herblore</h2>
                <img class="skill-image" src="~/Images/Skills/Herblore.svg" alt="Herblore" />
                <h3>Coming Soon</h3>
            </a>
        </div>
    </div>
    <div class="col-6 col-md-2">
        <div class="skill-container">
            <a href="@Url.Action("Agility", "Skills", Model)">
                <h2 style="font-size:21px" class="text-center">Agility</h2>
                <img class="skill-image" src="~/Images/Skills/Agility.svg" alt="Agility" />
                <h3>Coming Soon</h3>
            </a>
        </div>
    </div>
</div>
